:root {
  --max-width: 1100px;
  --border-radius: 12px;

}
main, button, input, span, label, h1, h2, p, h3, h4, div {
  font-family: var(--chakra-petch), sans-serif!important;
}
.dark-background {
  background-image: url("../asset/27230.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
}
.light-background {
  background-image: url("../asset/4856145.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
@media screen and (max-width: 1650px) {
  .dark-background, .light-background {
    background-size: 100vw 100vh;
  }
}
.icon-container {
  display: flex;
  position: fixed;
  top: 24px;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icon-container:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.flex-center-max-width {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-end-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 24px 0 0;
}
.settings-container {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.settings-container.open {
  opacity: 1;
  height: auto;
}



.selected-tab-dark {
  color: #c4c2c2;
  margin: 10px 80px;
  padding: 0 50px;
}
.selected-tab-light {
  color: #232323;
  margin: 10px 80px;
  padding: 0 50px;
}

.selected-tabs-light .Mui-selected {
  color: #232323;
  font-weight: 700;
}
.selected-tabs-dark .Mui-selected {
  color: #c4c2c2;
  font-weight: 700;
}

.shadow-dark {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.shadow-light {
  box-shadow: 0 10px 20px 5px rgba(225, 225, 214, 0.5);
}
/*.grid-container-techno {*/
/*  margin: 30px!important;*/
/*}*/
.image-fade {
  transition: opacity 0.5s ease-in-out;
}
.background-badge-light {
  background-image: linear-gradient(90deg, #ecc847 0%, #84f540 49%, #60f0e5 100%);
  color: #2d2d2d;
  text-transform: uppercase;
}
.background-badge-dark {
  background-image: linear-gradient(90deg, #479eec 0%, #cd40f5 49%, #f0607b 100%);
  color: #dcdcdc;
  text-transform: uppercase;

}
@media screen and (min-width: 1000px) {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  section {
    scroll-snap-align: center;
  }
  .dark-background {
    scroll-snap-align: center;
  }
  .light-background {
    scroll-snap-align: center;

  }

}


section {
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 500px;
}

.text-loader {
  font-size: 3rem;
  z-index: 1002;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .text-loader {
    display: none
  }
  section {
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 500px;
  }
  .container-image-techno {
    height: 150px!important;
    margin: 0 10px!important;
  }
  section > div {
    width: 100%;
    height: 90vh!important;
    margin: 5px!important;
    padding: 5px!important;
  }
  .image-scroll {
    height: 100px!important;
    width: 100px!important;
  }

}
section > div {
  width: 100%;
  position: relative;
  height: 70vh;
  margin: 0 20px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 24px;
  max-width: 1000px;
}

.container-image-techno {
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.image-scroll {
  width: 200px;
  margin: 0;
  padding: 0;
}
.description-image-techno {
  margin: 0;
  padding: 0;
  opacity: 0.5;
  text-transform: lowercase;
  font-weight: 300;
}

.dark-container-techno-scroll {
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
  background: rgb(246,246,246);
  background: linear-gradient(135deg, rgba(141, 141, 141, 0.6) 0%, rgba(59, 59, 59, 0.6) 100%);
}
.light-container-techno-scroll {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgb(204, 204, 204) 100%);
}

.h2-scroll {
  margin: 0;
  font-size: 24px;
  /*left: 20px;*/
  letter-spacing: -1px;
  line-height: 1.2;
  /*position: absolute;*/
  padding:5px;
  border-radius: 10px;
}

/*section {*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  position: relative;*/
/*  scroll-snap-align: center;*/
/*  perspective: 500px;*/
/*}*/

/*section > div {*/
/*  width: 300px;*/
/*  height: 400px;*/
/*  position: relative;*/
/*  max-height: 90vh;*/
/*  margin: 20px;*/
/*  overflow: hidden;*/
/*}*/


.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #fff;
  bottom: 100px;
}